body{
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;     
    overflow: hidden;
}

.title {
    margin:0;
    font-family: 'Slackey', sans-serif;
    font-size: 125px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
    padding-top: 80px;
}

.Play {
    font-family: 'Slackey', sans-serif;
    font-size: 50px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.Play:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
}


